<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Token</title>
</head>
<body>
    <form action="{% url 'VerifyToken' %}" method="post">
        {% csrf_token %}
        <label for="Token">Enter Verification Token</label>
        <input type="text" name="Token" id="" placeholder="Enter Verification Token">
        <div>
            <input type="submit" value="Submit Code">
        </div>
    </form>
</body>
</html>