<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <title>User Sign Up</title>
    <style>
        body{
            background-color: turquoise;
            margin: 200px 200px 200px 450px;
        }
    </style>
</head>
<body>
    <h3>Sign Up Here</h3>
    <form action="{% url 'signup_user' %}" method="post">
        {% csrf_token %}
        <div>
            {{form.as_p}}
        </div>
        <div>
            <input type="submit" value="Sign Up" class="btn btn-danger">
        </div>
    </form>
    <div>
        <h3>OR</h3>
    </div>
    <div>
        <h4>CLick here to sign up using <a href="http://127.0.0.1:8000/accounts/google/login/?process=login">GMAIL account</a></h4>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</html>


<!-- 866346588942-7dta5qti0lfqaicl7rpfglskfudu7cjo.apps.googleusercontent.com -->